volumes:
    qdrant_data:
    ollama_data:

services:
    
    qdrant:
        build: ./qdrant
        ports:
            - "6333:6333"
            - "6334:6334"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
            interval: 5s
            timeout: 3s
            retries: 20
        env_file:
            - .env
        volumes:
            - qdrant_data:/qdrant/storage
    

    ollama:
        build: ./ollama
        ports:
            - "11434:11434"
        env_file:
            - .env
        volumes:
            - ollama_data:/root/.ollama
        restart: unless-stopped
        runtime: nvidia

    backend:
        build: ./backend
        ports:
            - "8000:8000"
        env_file:
            - .env
        volumes:
            - ./data:/app/data:ro
        depends_on:
            qdrant:
                condition: service_healthy
            ollama:
                condition: service_started

    frontend:
        build: ./frontend
        env_file:
            - .env
        ports:
            - "3000:3000"
        depends_on:
            - backend


