@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
    @apply px-4 py-2 bg-blue-700 rounded-lg text-white font-semibold  hover:bg-blue-500 disabled:opacity-50 disabled:cursor-not-allowed transition-colors;
}
.button-secondary {
    @apply px-4 py-2 bg-red-500 rounded-lg text-white font-semibold hover:bg-red-400 disabled:opacity-50 disabled:cursor-not-allowed transition-colors;
}
